body {
    font-family: sans-serif;
}

.container {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.controls {
    width: 240px;
}

h1,h2,h3 {
    font-family: serif;
}

#mcount {
    background-color: cornflowerblue;
    font-size: 3em;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    float: left;
}

#posts {
    border: 1px solid darkseagreen;
    padding: 10px;
    margin: 0px 10px 10px 150px;
    min-height: 100px;
}

hr {
    clear: both;
}

.blue{
    color:blue;
}

.red{
    color:red;
}

.bold{
    font-weight:bold;
}

.italic{
    font-style:italic;
}

.greyBold{
    color:grey;
    font-weight:bold;
}

.post-content{
    margin-bottom:30px;
}

.reply{
    margin-left:10px;
}