<!DOCTYPE html>
<html>

    <head>

        <title>Practical Excercise 6</title>

        <meta charset="UTF-8">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
        <link rel="stylesheet" href="prac6.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="prac6.js" defer></script>


    </head>

    <body>

        <!--Ternary operation here-->
        <div id="app" v-bind:class="dark_mode ? 'dark-mode-activated':'original'" >

            <header>
                <h1>Wendy's Delicious Condiments (and Fruit)</h1>
                <nav class="pure-menu pure-menu-horizontal">
                    <ul id="topmenu" class="pure-menu-list">
                        <li v-for= "item in top_menu" class="pure-menu-item"><a href="item.url" class="pure-menu-link">{{item.title}}</a></li>
                    </ul>
                    <div class="pure-menu">
                        <ul id="submenu" class="pure-menu-list">
                            <!--Q1.7-->
                            <!--<li v-for= "i in top_menu.submenus" class="pure-menu-item"><a href="i.url" class="pure-menu-link">{{i.title}}</a></li>-->
                        </ul>
                    </div>
                </nav>
            </header>

            <div v-if="show_ad === true" class="pad" id="ad">
                <button class="pure-button" style="float:right;" onclick="vueinst.show_ad = false;">close</button>
                <img v-bind:src="special.url" alt="" onclick="vueinst.special=SPECIALS[Math.floor((Math.random() * 3))];" />
                <h3>{{ special.name }}</h3>
                <p>{{ special.price }}</p>
            </div>



            <main v-else class="pure-g">

                <div class="pad pure-u-2-3">
                    <div id="items">
                        <input type="text" class="pure-u-3-4" /><button class="pure-button pure-u-1-4">Search</button>
                    </div>

                    <div id="comments">
                        <textarea v-model="c_text" rows="4" cols="60" class="pure-u-1" >Comments</textarea>
                        <button class="pure-button pure-u-1-4" v-on:click="addRow">Add comment</button>
                        <p v-for= "c in c_arr">{{c}}</p>
                    </div>
                </div>

                <aside class="pad pure-u-1-3">

                    <h3>Salt or Pepper?</h3>
                    <!-- TASK 1.1 -->
                    <p id="sp">{{ choose }}</p>
                    <button class="pure-button pure-u-1-4" onclick="vueinst.choose='Salt';">Salt</button>
                    <button class="pure-button pure-u-1-4" onclick="vueinst.choose='Pepper!';">Pepper</button>

                    <hr />

                    <h3>Dark Mode:</h3>
                    <div class="pure-button-group" role="group" aria-label="Nightmode">
                        <button class="pure-button" v-bind:class="dark_mode ? '':'pure-button-active'" onclick="vueinst.dark_mode = false;">OFF</button>
                        <button class="pure-button" v-bind:class="dark_mode ? ['pure-button-active','pure-button-primary']:''" onclick="vueinst.dark_mode = true;">ON</button>
                    </div>

                    <hr />

                    <div id="stores">

                    </div>

                </aside>



            </main>


            <footer><p>&copy; 2021 WDC</p></footer>

        </div>


    </body>

</html>

